.ApprovalStep {
  margin: 1rem 0;
  border: 1px solid #eee;
}

.ApprovalStep__bounds {
  background: #eee;
  padding: 1rem;
  position: relative;
}

.ApprovalStep__actions {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.ApprovalStep__user {
  padding: 1rem;
}
