.App {
  background: #ecf0f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.App__header {
  padding: 0.5rem 0;
  margin: 0 0 1rem 0;
  border-bottom: 1px dashed #ccc;
  font-size: 2rem;
}

.App__main {
  color: #333;
}
